@media only screen and (max-width: 569px) {
  .desktop {
    display: none;
  }
  #newsletter {
    form, aside {
      float: none;
      width: 100%;
    }
    form {
      text-align: center;
    }
  }
}

@media only screen and (min-width: 568px) {
  .mobile {
    display: none;
  }
  #navigation {
    ul {
      width: 25%;
      &#days {
        clear: none;
      }
      li {
        a {
          padding-right: 0; // fix for iphone 5 landscape
        }
      }
    }
  } 
}
