#newsletter-overlay {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.5);
  z-index: 100;
  text-align: center;
  
  &:before {
    content: '';
    display: inline-block;
    height: 100%;
    vertical-align: middle;
//    margin-right: -0.25em; /* Adjusts for spacing */
  }
}

#newsletter {
  position: relative;
  margin: 1em auto;
  padding: 2* $padding;
  width: 600px;
  max-width: 70%;
  background: white;
  display: inline-block;
  vertical-align: middle;
  z-index: 2;
  @include shadow;
  
  form, aside {
    float: left;
    width: 50%;
    text-align: left;
  }
  
  input {
    width: 70%;
    margin-bottom: 1ex;
    padding: 1ex;

    &[type=submit] {
      border-radius: 2em;
    }
  }
  
  ul {
    padding: 0;
  }
  
  li {
    list-style: none;
    padding-left: 1.5rem;
    &:before{
      content: '\2714';
      margin-right: 0.5rem;
      margin-left: -1.5rem; 
      width: 1rem;
      display: inline-block;
    }
  }
  
  img {
    height: 45px;
  }
  
  .small {
    font-size: 0.7rem;
  }
  
  .close_icon {
    position: absolute;
    top: 0;
    right: 0;
    margin: 1ex;
    
    .cancel {
      text-decoration: none;
      color: #ddd;
      font-size: 1.5em;
      line-height: 1ex;
    }
  }
}