#newsletter-overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  background: rgba(0,0,0,0.8);
  z-index: 100;
}

#newsletter {
  margin: 1em auto;
  padding: $vertical-padding $padding;
  width: 400px;
  height: 300px;
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -200px;
  margin-left: -200px;
  background: white;
  z-index: 2;
  text-align: center;
//  @include border-radius(1em);
  @include shadow;
}