@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import "compass";

$color-konzerte: #EB1F78;
$color-theater: #8AC440;
$color-kunst: #FFAB00;
$color-design: #29A8E0;

$padding: 1em;
$box-padding: 1.6em;

#logo img {
  height: 3em;
}

#navigation-toggle {
  float: right;
  width: 1.6em;
  height: 2em;
  padding: 0;
  margin-top: 0.5em;
  background: none;
  border: none;
  span {
    display: block;
    height: 5px;
    margin: 4px 0;
    background: black;
  }
}

@mixin shadow {
  @include box-shadow(0px 1px 6px rgba(0,0,0,0.2));
}
#navigation {
  display: none;
  font-weight: 300;
  margin-bottom: 2em;
  ul {
    list-style-type: none;
    padding: 0;
    margin: 1em -1em;
    @include shadow;
    
    li {
      padding: 0;
      background: white;
      border-bottom: 1px solid #eee;
      
      a {
        display: block;
        padding: ($padding / 2) $padding;
        color: black;
        text-decoration: none;
      }
    }
  }
}

#events {
  //  -moz-column-count:4; /* Firefox */
  //  -webkit-column-count:4; /* Safari and Chrome */
  //  column-count:4;
  position: relative;
  
  .post {
    width: 200px;
    display: block;
    background: white;
    font-weight: 300;
    @include shadow;
    
    &.photo {
      img {
        width: 100%;
      }
    }
    
    > .tag {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }
    
    border-bottom: 0px solid;
    
    .caption {
      margin: $box-padding;
    }
    
    @mixin category($color, $image) {
      .caption > *:first-child {
        color: $color;
        font-weight: 700;
        font-size: 1.2em;
        margin-top: $box-padding;
      }
      .tags {
        background: white url('../images/#{$image}') bottom right no-repeat;
      }
    }
    
    &.konzerte {
      @include category($color-konzerte, 'icon_konzerte.png');
    }
    
    &.theater {
      @include category($color-theater, 'icon_theater.png');
    }
    
    &.kunst {
      @include category($color-kunst, 'icon_kunst.png');
    }
    
    &.design {
      @include category($color-design, 'icon_design.png');
    }
    
    .tags {
      list-style-type: none;
      margin: $box-padding;
      padding: 0 60px 0 0;
      min-height: 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
//      display: table-cell;
//      vertical-align: bottom;
      li {
        font-size: 0.8em;
        display: inline;
        a {
          color: #999;
          margin-right: 0.5em;
        }
      }
    }    
  }
}

.wookmark-placeholder {
  background: #eee;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
  background-image: url('../images/paper.png');
  
  > header {
    margin-bottom: 1em;
  }
}
