@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
@import "compass";

$color-konzerte: #EB1F78;
$color-theater: #8AC440;
$color-kunst: #FFAB00;
$color-design: #29A8E0;

#logo img {
  height: 3em;
}

#navigation-button {
  float: right;
  width: 2em;
  height: 2em;
  padding: none;
  background: none;
  border: none;
  span {
    display: block;
    height: 5px;
    margin: 3px 0 2px;
    background: black;
  }
}

#navigation {
  display: none;
}

#events {
  //  -moz-column-count:4; /* Firefox */
  //  -webkit-column-count:4; /* Safari and Chrome */
  //  column-count:4;
  position: relative;
  
  .post {
    width: 300px;
    display: block;
    
    &.photo {
      img {
        width: 100%;
      }
    }
    
    > .tag {
      position: absolute;
      bottom: 10px;
      right: 10px;
      width: 50px;
      height: 50px;
      background-size: 50px 50px;
      background-repeat: no-repeat;
    }
    
    border-bottom: 3px solid;
    
    &.konzerte {
      .tag {
        background-image: url('../images/icon_konzerte_150.png');
      }
      img + p {
        color: $color-konzerte;
      }
      border-color: $color-konzerte;
    }
    
    &.theater {
      .tag {
        background-image: url('../images/icon_theater_150.png');
      }
      img + p {
        color: $color-theater;
      }
      border-color: $color-theater;
    }
    
    &.kunst {
      .tag {
        background-image: url('../images/icon_kunst_150.png');
      }
      img + p {
        color: $color-kunst;
      }
      border-color: $color-kunst;
    }
    
    &.design {
      .tag {
        background-image: url('../images/icon_design_150.png');
      }
      img + p {
        color: $color-design;
      }
      border-color: $color-design;
    }
  }
}

.wookmark-placeholder {
  background: #eee;
}

body {
  font-family: 'Roboto', sans-serif;
  padding: 1em;
}
