<!DOCTYPE html>
<html lang="de">
  <head>
    <meta charset="utf-8" />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" />
  
    <!-- Use title if it's in the page YAML frontmatter -->
    <!-- title = current_page.data.title || yield_content(:title) || "Kunsttag" -->
    <title>{Title}</title>
    {block:Description}
        <meta name="description" content="{MetaDescription}" />
    {/block:Description}
    
    <%= stylesheet_link_tag "normalize", "kunsttag" %>
    <%= javascript_include_tag  "all" %>
    
  </head>
  <body class="<%= page_classes %>">
    <header>
      <a href="/" title="Home"><img src="/images/logo_kunsttag_150.png"></a>
    </header>
    <nav>
      <a href="/">Home</a>
      {block:HasPages}
        {block:Pages}
          <a href="{URL}">{Label}</a>
        {/block:Pages}
      {/block:HasPages}
      {block:AskEnabled}
        <a href="/ask">{AskLabel}</a>
      {/block:AskEnabled}
    </nav>
        
    <%= yield %>
    
  </body>
</html>
