{block:Date}
  <footer>

    {block:HasTags}
      <div class="tags">
        {block:Tags}
          <a href="{TagURL}">{Tag}</a>
        {/block:Tags}
      </div>
    {/block:HasTags}

    <hr/>
  </footer>
{/block:Date}
