<div id="newsletter">
  Newsletter
  <div id="mc_embed_signup">
    <form action="http://kunsttag.us6.list-manage1.com/subscribe/post?u=59104d76d7&amp;id=ac3acd785f" class="novalidate" id="mc-embedded-subscribe-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
      <input class="email span4" id="mce-EMAIL" name="EMAIL" placeholder="E-Mail-Adresse" required="" type="email" value=""><br>
      <input class="btn" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Abonnieren">      
    </form>
  </div>
</div>    
