<div id="newsletter-overlay">
  <div id="newsletter">
    <div class="close_icon"><a href="#" class="cancel">×</a></div>
    <div><%=image_tag 'logo_kunsttag_150.png' %></div>    
    <form action="http://kunsttag.us6.list-manage1.com/subscribe/post?u=59104d76d7&amp;id=ac3acd785f" class="novalidate" id="newsletter-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
      <p>Bring mehr Kunst in deinen Tag.</p>
        <input class="email span4" id="mce-EMAIL" name="EMAIL" placeholder="E-Mail-Adresse" required="" type="email" value=""><br>
        <input class="btn" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Abonnieren">      
      <p class="small"><a href="#" class="cancel">Ich bin bereits angemeldet</a></p>
    </form>
    <aside>
      <ul>
        <li>kuratierte Kunst-Events</li>
        <li>spartenübergreifend</li>
        <li>aus der lokalen Kunstszene</li>
        <li>kostenlos Events veröffentlichen</li>
      </ul>
    </aside>
  </div>      
</div>
