<div id="newsletter-overlay">
  <div id="newsletter">
    <h3>Kunsttag</h3>
    <p>Bring mehr Kunst in deinen Tag.</p>
    <form action="http://kunsttag.us6.list-manage1.com/subscribe/post?u=59104d76d7&amp;id=ac3acd785f" class="novalidate" id="newsletter-form" method="post" name="mc-embedded-subscribe-form" novalidate="" target="_blank">
      <input class="email span4" id="mce-EMAIL" name="EMAIL" placeholder="E-Mail-Adresse" required="" type="email" value=""><br>
      <input class="btn" id="mc-embedded-subscribe" name="subscribe" type="submit" value="Abonnieren">      
    </form>
    <a href="#" class="cancel">Ich bin bereits angemeldet</a>
  </div>      
</div>
