{block:IndexPage} 
  <section>
    <p>Bring mehr Kunst in deinen Tag.</p>
    <p>
      <form action="/search" method="get">
          <input type="text" placeholder="Event" name="q" value="{SearchQuery}"/>
          <input type="submit" value="Suche"/>
      </form>
    </p>
  </section>
{/block:IndexPage}
